@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  font-family: 'Poppins', sans-serif;
  position: relative;

}

* {
  margin: 0px;
  scroll-behavior: smooth;
}

.nav {
  color: #fff;
  height: 60px;
  width: 100%;
  display: flex;
  align-items: center;
  position: fixed;
  padding: 0.5rem 0rem;
  background-color: #fff;
  color: black;
  margin-bottom: 5rem;
  box-shadow: 0 2px 2px 1px rgba(9, 9, 9, 0.06);
}

.logo {
  text-decoration: none;
  color: black;
  font-weight: 700;
  font-size: 1.2rem;
  margin-left: 6rem;
}

.navigation-menu {
  margin-left: auto;
}

.navigation-menu ul {
  display: flex;
  padding: 0;
  margin-right: 6rem;
}

.navigation-menu li {
  list-style-type: none;
  margin: 0 1rem;
}

.navigation-menu li a {
  text-decoration: none;
  display: block;
  color: #2d2e32;
  font-weight: 600;
  font-size: 1.1rem;
  transition: all .23s;
  width: 100%;
}

.navigation-menu li a:hover {
  color: #241b91;
}

.hamburger {
  border: 0;
  padding: 0.5rem;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 6rem;
  transform: translateY(-50%);
  display: none;
}

@media screen and (max-width: 768px) {
  .container{
    display: inline;
  }
  .main{
    display: inline;
  }
  .navigation-menu ul {
    position: absolute;
    top: 60px;
    left: 0;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 77px);
    background-color: white;
    border-top: 1px solid black;
  }

  .navigation-menu li {
    text-align: center;
    margin: 0;
  }

  .navigation-menu li a {
    color: black;
    width: 100%;
    padding: 1.5rem 0;
  }

  .navigation-menu li:hover {
    background-color: #eee;
  }

  .navigation-menu ul {
    display: none;
  }

  .hamburger {
    display: block;
    color: #fff;
  }

  .navigation-menu.expanded ul {
    display: block;
  }
}

:root {
  --background: #005;
  --primary: #88D5BF;
  --secondary: #5D6BF8;
  --third: #e27fcb;
}

.main{
  align-items: center;
  display: flex;
  /* width: 100vw; */
  justify-content: center;
}

.section {
  background-color: #fff;
  height: 100vh;
  display: flex;
  align-items: center;
  display: flex;
  justify-content: center;
}

.contact-section {
  background-color: #f9f9f9;
  height: 30vh;
  padding-left: 15vw;
  padding-right: 15vw;
  padding-top: 8vh;
  display: flex;
  align-items: left;
  justify-content: left;
}

.container {
  align-items: center;
  display: flex;
  width: 130vh;
  justify-content: center;
}

.container-tech-stack {
  align-items: center;
  display: flex;
  width: 120vh;
  margin-bottom: 5rem;
  justify-content: left;
}

.hero-text{
  color: #2d2e32;
  font-size: 4.0rem;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.desc{
  font-size: 1.1rem;
  color: #767676;
  font-weight: 400;
  line-height: 1.2;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.social-logo{
  padding-right: 10px;
}
 a{
  color: #000;
  text-decoration: none;
}

.linkedIn:hover{
  color: #0b65c2;
}

.left {
  margin-right: 1rem;
}

.tech-stack{
  margin-top: 15vh;
}

.stack-text {
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 4rem;
}

.aboutMe-desc{
  margin-left: 4rem;
}

.circle {
  display: flex;
  width: 4rem;
  height: 4rem;
  background-color: rgb(255, 255, 255);
  border-radius: 50%;
  box-shadow: 0 3px 3px 3px rgba(9, 9, 9, 0.06);
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  justify-items: center;
}

.shape {
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  height: 20vw;
  align-items: center;
  transition: all 1s ease-in-out;
  width: 30vw;
  border-style: solid;
  border-color: #000;
  border-width: 3px;
  object-fit: contain;
  z-index: 5;
}

@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    /* background-image: url("/public/profileImage.jpeg") cover; */
  }

  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
    background: linear-gradient(45deg, var(--third) 0%, var(--secondary) 100%);
    /* background-image: url("/public/profileImage.jpeg") cover; */
  }

  100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    background: linear-gradient(45deg, var(--primary) 0%, var(--secondary) 100%);
    /* background-image: url("../public/profileImage.jpeg") cover; */
  }
}